@use '/src/app/shared/shared.component.scss' as *;
@include shared-grid;

.HeaderText{
    height: 7%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
   
    span{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: white;
        position: relative;
        top: 35%;
        left: 5%;
        
       
    }
}

.aside-div{
    .step-one{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        gap: 10px;
        border: 1px solid #E5E6E8;
        background-color: #E9FAF1;
        position: relative;
        top: 10%;
        left: 12%;

    img{
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        


    }

    .line{
        width: 174px;
        height: 0px;
        border:1px solid rgba(185, 180, 196, 0.3);
        position: relative;
        top: 8%;
        left: 16.1%;
    }
    .step-two{
       
        @include second-step;
        top: 6.1%;
        left: 33%;
        text-align: center;
        background-color: #F5F5F5;
    
    span{
        @include span-dec;
        color: #95939A;
    }
    }

    .personal{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        position: absolute;
        top: 21.5%;
        left: 51%;
    }

    .chess{
        @include span-dec;
        position: absolute;
        top: 21.7%;
        left: 63%;

    }

    .info{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
        position: absolute;
        top: 30%;
        left: 53%;
    }

     

    .back{
        width: 93px;
        height: 53px;
        gap: 10px;
        border: 1px solid #212529;
        border-radius: 8px;
        background-color: #FFFFFF;
        margin-top: 110px;
        margin-left: 60px;

        span{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #212529;
        }
    
    }

    .back:hover{
        border: 1px solid #c2a5f9cc;
        background-color: #F5F5F5;
        cursor: pointer;
    }

    .next{
        width: 128px;
        height: 53px;
        gap: 10px;
        background-color: #212529;
        border-radius: 8px;
        margin-left: 150px;
        span{
          @include buttonSpan;
          color: #FFFFFF;
          position: relative;
          bottom: 7%;
          right: 5%;
        }
    }

    .next:hover{
        border: 4px solid #c2a5f9cc;
        cursor: pointer;
    }

    .mat-form-field + .mat-form-field {
        margin-left: 15px;
      }

      .required:after {
        content:" *";
        color: red;
      }


}

mat-form-field{
    margin-top: 245px;
    margin-left: 90px;
    margin-bottom: 50px;
}

p{
    margin-left: 100px;
}

input{
    margin-left: 100px;
}