<p>home works</p>

<div class="container">
    <div class="header-div">
        <img src="/assets/Vector.png" alt="vector">
        <span>KnightCup</span>
    </div>
    <div class="img-div"><img src="/assets/home-page.png" alt="home-page-photo"></div>
    <div class="aside-div">
        <span>CHESS SAYS</span>
        <span>A LOT ABOUT</span>
        <span>WHO WE ARE</span>
        <button (click)="onRegisterclick()" class="register">Register</button>
        <button (click)="onLoginclick()" class="login">Log in</button>
    </div>
     
</div>