@use '/src/app/shared/shared.component.scss' as *;
@include shared-grid;
@include headertext-span;


.aside-div{
    .step-one{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        gap: 10px;
        border: 1px solid #E5E6E8;
        background-color: #FFFFFF;
        position: relative;
        top: 10%;
        left: 12%;

        span{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: #212529;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
        


    }
        @include line;
    
    .step-two{
       
        @include second-step;
        top: 6.1%;
        left: 33%;
        text-align: center;
        background-color: #F5F5F5;
    
    span{
        @include span-dec;
        color: #95939A;
    }
    }

    @include personal;
   

    .chess{
        @include span-dec;
        position: absolute;
        top: 21.5%;
        left: 63%;

    }

    .info{
        
        @include info-det;
        top: 28%;
        left: 51%;
    }

     

    @include backHover;

    .next{
        
        @include next;
        border-radius: 8px;
        margin-left: 120px;
        span{
          @include buttonSpan;
          color: #FFFFFF;
          position: relative;
          bottom: 7%;
          right: 5%;
        }
    }

    .next:hover{
        border: 4px solid #c2a5f9cc;
        cursor: pointer;
    }

    .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
      }


}

form{
    margin-top: 250px;
    
    .example-container{
        margin-left: 110px;         
     }

}
