
<!-- <button mat-button>button</button> -->
<div class="container">
    <div class="header-div">
        <img src="/assets/Vector.png" alt="vector">
        <span>KnightCup</span>
    </div>
    <div class="img-div"><img src="/assets/yellow-img-div.png" alt=""></div>
    <div class="aside-div">
        <div class="HeaderText">
            <span>Start Creating Your Account</span>
        </div>

        <div class="step-one">
            <span>1</span>
        </div>
        <div class="line"></div>
        <div class="step-two">
            <span>2</span>
        </div>
        <span class="personal">Personal information</span>
        <span class="chess">Chess experience</span>
        <span class="info">Personal information</span>
         

        <form [formGroup]="RegisterForm" (ngSubmit)="register(RegisterForm)"> 
          
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="your name" [formControl]="RegisterForm.controls.name| formControl" required>
              <mat-error *ngIf="RegisterForm.controls.name.invalid">{{getnameErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com"  [formControl]="RegisterForm.controls.email| formControl " required>
               <mat-error *ngIf="RegisterForm.controls.email.invalid">{{getemailMessage()}}</mat-error> 
            </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your phone number</mat-label>
              <input matInput placeholder="5776798760" [formControl]="RegisterForm.controls.phone | formControl" required>
              <mat-error *ngIf="RegisterForm.controls.phone.invalid">{{getphoneErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your date of birth</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="RegisterForm.controls.date_of_birth | formControl" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 ></mat-datepicker>
              <mat-error *ngIf="RegisterForm.controls.date_of_birth.invalid">{{getdobMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <button class="back" (click)="onbackclick()">
            <span>Back</span>
        </button>
         
        <button type="submit" class="next" (click)="onNextclick()">
            <span>Next</span>
            <img src="/assets/button-Vector.png" alt="">
        </button>
      
       </form> 

        
    </div>
     
</div>